{#
 # This file is part of Solidquote package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<html xmlns="http://www.w3.org/1999/html">
<head>
    <style type="text/css">
        .sliced-details {
            float: right;
            text-align: right;
        }

        .sliced-details td {
            text-align: right;
        }
        table, th, td {
            border-radius: 10px;
            padding: 15px;
            text-align: left;
        }
        .quote-details th {
            background-color:#ff8c00;
            color: #FFFFFF;
            text-transform: uppercase;
            text-align: center;
        }
        .quote-total {
            background-color:#ff8c00;
            color: #FFFFFF;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    </style>
</head>
<body>
<htmlpageheader name="header">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ app_logo() }}    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ app_ecra_logo() }}
    <h2 class="page-header">{{ setting('system/company/company_name') }}</h2>
</htmlpageheader>
<br>
<sethtmlpageheader name="header" value="on" show-this-page="1" margin-bottom="5"/>
<div class="row">
    <div class="col-6">
        {% set vatNumber = setting('system/company/vat_number') %}
        {% if vatNumber is not empty %}
            <strong>{{ 'tax.vat_number'|trans }}</strong> {{ vatNumber }}
            <br/>
        {% endif %}
        {% set address = setting('system/company/contact_details/address', null, true) %}

        {% for addr in address %}
            {% if loop.index == 1 %}
                  {{ addr }} <br/>
            {% else %}
                 {{ addr|replace({"\n": ", "}) }}
            {% endif %}

        {% endfor %}

        {% set email = setting('system/company/contact_details/email') %}
        {% if email is not empty %}
            <br/>
            {{ email }}
        {% endif %}

        {% set phoneNumber = setting('system/company/contact_details/phone_number') %}
        {% if phoneNumber is not empty %}
            <br/>
            {{ phoneNumber }}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-6">
          <h4 class="page-header">ESTIMATES: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b style="font-weight: bold; text-transform: uppercase">Date:</b> {{ quote.created | date("F d, Y") }}</h4> 
          <b style="font-weight: bold">{{ quote.client }}</b>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% for address in quote.client.addresses %}
            <address>
                {{ address|replace({"\n": ", "}) }}<br/>
            </address>
        {% endfor %}
        {% if quote.client.website is not empty %}
            <p>
                <a href="{{ quote.client.website }}" rel="external" target="_blank">
                    {{ quote.client.website }}
                </a>
            </p>
        {% endif %}

        {% if quote.client.vatNumber is not empty %}
            <p>
                <strong>{{ 'tax.vat_number'|trans }}</strong> {{ quote.client.vatNumber }}
            </p>
        {% endif %}
    </div>
</div> <br>
<div class="row">
    <div class="col-12">
        <table class="table quote-details"  style="width:100%">
            <thead>
            <tr>
                <th>{{ 'quote.item.heading.description'|trans }}</th>
                <th>{{ 'quote.item.heading.price'|trans }}</th>
                <th>{{ 'quote.item.heading.qty'|trans }}</th>
                {% if quote.tax.positive %}
                    <th>{{ 'quote.item.heading.tax'|trans }}</th>
                {% endif %}
                <th class="text-right">{{ 'quote.item.heading.total'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in quote.items %}
                <tr>
                    <td class="column-description">
                        {{ item.description }}
                    </td>
                    <td class="column-price">
                        {{ item.price|formatCurrency }}
                    </td>
                    <td class="column-qty">
                        {{ item.qty }}
                    </td>
                    {% if quote.tax.positive %}
                        <td class="column-tax">
                            {{ item.tax }}
                        </td>
                    {% endif %}
                    <td class="column-total text-right">
                        {{ item.total|formatCurrency }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-5 sliced-details">
        <table class="table quote-details quote-summary float-right">
            <tbody>
            <tr>
                <td class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="text-right">
                    <strong>{{ 'quote.subtotal'|trans }}</strong>
                </td>
                <td class="text-right">
                    <div class="quote-sub-total">
                        {{ quote.baseTotal|formatCurrency }}
                    </div>
                </td>
            </tr>
            {% if quote.tax.positive %}
                <tr>
                    <td class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right">
                        <strong>{{ 'quote.tax'|trans }}</strong>
                    </td>
                    <td class="text-right">
                        <span class="text-error quote-tax">
                            {{ quote.tax|formatCurrency }}
                        </span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="text-right quote-total">
                    <strong>
                        {{ 'quote.total'|trans }}
                    </strong>
                </td>
                <td class="text-right quote-total">
                    {{ quote.total|formatCurrency }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {% if quote.notes is not empty %}
        <div class="col-6 no-print">
            <p class="text-muted well well-sm no-shadow">
                <strong>{{ 'quote.notes'|trans }}:</strong> {{ quote.notes }}
            </p>
        </div>
    {% endif %}
</div>
</body>
</html>